/.Busqueda.java._trace
/.Busqueda.xtendbin
/.Celiaco.java._trace
/.Celiaco.xtendbin
/.Comida.java._trace
/.Comida.xtendbin
/.CompararPorCalorias.java._trace
/.CompararPorCalorias.xtendbin
/.CompararPorNombre.java._trace
/.CompararPorNombre.xtendbin
/.CondicionCommand.java._trace
/.CondicionCommand.xtendbin
/.CondicionDevuelveMuchosResultados.java._trace
/.CondicionDevuelveMuchosResultados.xtendbin
/.CondicionPreexistente.java._trace
/.CondicionPreexistente.xtendbin
/.CondicionSegunUsuario.java._trace
/.CondicionSegunUsuario.xtendbin
/.CondicionUsuarioMarcaTodoComoFavorito.java._trace
/.CondicionUsuarioMarcaTodoComoFavorito.xtendbin
/.Cosas.java._trace
/.Cosas.xtendbin
/.DefaultOrden.java._trace
/.DefaultOrden.xtendbin
/.Diabetico.java._trace
/.Diabetico.xtendbin
/.Fecha.java._trace
/.Fecha.xtendbin
/.Filtro.java._trace
/.Filtro.xtendbin
/.FiltroCondicionesPreexistentes.java._trace
/.FiltroCondicionesPreexistentes.xtendbin
/.FiltroDeCalorias.java._trace
/.FiltroDeCalorias.xtendbin
/.FiltroDeIngredientesCaros.java._trace
/.FiltroDeIngredientesCaros.xtendbin
/.FiltroPorGusto.java._trace
/.FiltroPorGusto.xtendbin
/.GrupoDeUsuario.java._trace
/.GrupoDeUsuario.xtendbin
/.Hipertenso.java._trace
/.Hipertenso.xtendbin
/.HomeRecetas.xtendbin
/.Mail.java._trace
/.Mail.xtendbin
/.MessageSender.java._trace
/.MessageSender.xtendbin
/.Monitor.java._trace
/.Monitor.xtendbin
/.MonitorDeConsultas.java._trace
/.MonitorDeConsultas.xtendbin
/.MonitorLog.java._trace
/.MonitorLog.xtendbin
/.MonitorMail.java._trace
/.MonitorMail.xtendbin
/.MonitorRecetasFavoritas.java._trace
/.MonitorRecetasFavoritas.xtendbin
/.MostrarLosPrimerosDiez.java._trace
/.MostrarLosPrimerosDiez.xtendbin
/.MostrarResultadosPares.java._trace
/.MostrarResultadosPares.xtendbin
/.ObserverConsultaVegano.java._trace
/.ObserverConsultaVegano.xtendbin
/.ObserverDeHora.java._trace
/.ObserverDeHora.xtendbin
/.ObserverDeLasMasConsultadas.java._trace
/.ObserverDeLasMasConsultadas.xtendbin
/.ObserverMasConsultadaPorSexo.java._trace
/.ObserverMasConsultadaPorSexo.xtendbin
/.ObserversConsulta.java._trace
/.ObserversConsulta.xtendbin
/.Ordenamiento.java._trace
/.Ordenamiento.xtendbin
/.Persona.java._trace
/.Persona.xtendbin
/.Privada.java._trace
/.Privada.xtendbin
/.Publica.java._trace
/.Publica.xtendbin
/.Receta.java._trace
/.Receta.xtendbin
/.RecetaBuilder.java._trace
/.RecetaBuilder.xtendbin
/.RepoDeCondiciones.java._trace
/.RepoDeCondiciones.xtendbin
/.RepoDeFiltros.java._trace
/.RepoDeFiltros.xtendbin
/.RepoDeTemporadas.java._trace
/.RepoDeTemporadas.xtendbin
/.RepoDeUsuariosMock.java._trace
/.RepoDeUsuariosMock.xtendbin
/.RepoDificultades.java._trace
/.RepoDificultades.xtendbin
/.Repositorio.java._trace
/.Repositorio.xtendbin
/.RepositorioRecetas.java._trace
/.RepositorioRecetas.xtendbin
/.RepositorioUsuarios.java._trace
/.RepositorioUsuarios.xtendbin
/.Rutina.java._trace
/.Rutina.xtendbin
/.Sexo.java._trace
/.Sexo.xtendbin
/.StubMailSender.java._trace
/.StubMailSender.xtendbin
/.TipoReceta.java._trace
/.TipoReceta.xtendbin
/.Usuario.java._trace
/.Usuario.xtendbin
/.UsuarioBuilder.java._trace
/.UsuarioBuilder.xtendbin
/.Vegano.java._trace
/.Vegano.xtendbin
/Busqueda.java
/Celiaco.java
/Comida.java
/CompararPorCalorias.java
/CompararPorNombre.java
/CondicionCommand.java
/CondicionDevuelveMuchosResultados.java
/CondicionPreexistente.java
/CondicionSegunUsuario.java
/CondicionUsuarioMarcaTodoComoFavorito.java
/Cosas.java
/DefaultOrden.java
/Diabetico.java
/Fecha.java
/Filtro.java
/FiltroCondicionesPreexistentes.java
/FiltroDeCalorias.java
/FiltroDeIngredientesCaros.java
/FiltroPorGusto.java
/GrupoDeUsuario.java
/Hipertenso.java
/Mail.java
/MessageSender.java
/Monitor.java
/MonitorDeConsultas.java
/MonitorLog.java
/MonitorMail.java
/MonitorRecetasFavoritas.java
/MostrarLosPrimerosDiez.java
/MostrarResultadosPares.java
/ObserverConsultaVegano.java
/ObserverDeHora.java
/ObserverDeLasMasConsultadas.java
/ObserverMasConsultadaPorSexo.java
/ObserversConsulta.java
/Ordenamiento.java
/Persona.java
/Privada.java
/Publica.java
/Receta.java
/RecetaBuilder.java
/RepoDeCondiciones.java
/RepoDeFiltros.java
/RepoDeTemporadas.java
/RepoDeUsuariosMock.java
/RepoDificultades.java
/Repositorio.java
/RepositorioRecetas.java
/RepositorioUsuarios.java
/Rutina.java
/Sexo.java
/StubMailSender.java
/TipoReceta.java
/Usuario.java
/UsuarioBuilder.java
/Vegano.java
